{{ $author := site.Data.author }}
{{ if (index site.Data site.Language.Lang).author }}
  {{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}

{{ $authorImagePath := "" }}

{{ if $author.image }}
  {{ $authorImagePath = $author.image }}
{{ end }}

{{ if eq (printf "%T" .Params.author ) "maps.Params" }}
  {{ with .Params.author }}
    {{ if .image }}
      {{ $authorImagePath = .image }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $authorImage := "" }}
{{ if $authorImagePath }}
  {{ $img := resources.Get $authorImagePath }}
  {{ if and $img (and (ne $img.MediaType.SubType "svg") (ne $img.MediaType.SubType "gif")) }}
    {{ $img = $img.Fit "120x120" }}
  {{ end }}
  {{ $authorImage = $img.RelPermalink }}
{{ end }}

{{ return $authorImage }}
